.grid
  display: grid
  // grid-template-columns by JS
  gap: .25em

  // not sure if this is needed (to prevent outer flexbox be enlarged by choicegrid) but keep it for now.
  max-width: 100%
  min-width: 0

  width: 100%

  overflow-x: auto

  .head, .body
    display: grid
    grid-template-columns: subgrid
    .cell:first-child
      position: sticky
      left: 0
      background: #fff

  .cell
    border-radius: .25em
    padding: .25em
    text-align: center
    min-width: 8em

  .head
    position: sticky
    top: 0
    z-index: 1

  .head .cell
    border: 0
    background: white
    font-weight: 600

  .option-wrap, .entry-wrap
    display: flex
    align-items: center
    justify-content: center
    gap: 0.25em
    width: 100%

  .entry-header
    text-align: left
    font-weight: 500

  .check
    cursor: pointer
    color: #d1d2d3
    border-radius: .25em
    border: 1px solid transparent
    padding: .25em 1em
    width: fit-content
    margin: auto
  .check:hover
    background: rgba(255,255,0,.25)
  .check.active
    color: rgb(0,192,0)
    border-color: rgb(0,192,0)
